network:
  version: 2
  renderer: networkd
  ethernets:
    {{ device_name.stdout }}:
      addresses:
        - "{{ ansible_host_v6 }}/64"
      nameservers:
        addresses:
          - 2606:4700:4700::1111
          - 2001:4860:4860::8888
      routes:
        - to: "::/0"
          via: "{{ gateway_v6 }}"
          on-link: true
